<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <script defer src="./index.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="logo-container">
        <img class="logo" src="../public/logo-dtvbox.png" alt="logo DTVBox" />
        <button id="button" onclick="changeName()">Créditos</button>
      </div>
      <div class="text-container">
        <h1 id="title" class="text">DTV<strong>BOX</strong></h1>
        <hr class="border-gray" />
        <p class="description">
          Uma plataforma inovadora que explora a portabilidade de aplicações web
          para o DTV Play
        </p>
      </div>
      <div id="footer">
        <hr class="border" />
        <div id="credits-container">
          <p class="credits bolder">
            <strong>Desenvolvido por:</strong> <br />
            Nayara Gomes da Silva
          </p>
          <p class="professor">
            <strong>Orientado por:</strong><br />
            Claudio Miceli de Farias
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
